body {
    -webkit-text-size-adjust: 100%;
}
#top_menu {
	position:fixed;
	top: 5px;
}
#floating_sidebar {
  position:fixed;
  right:5px;
  height: 90%;
  border: 5px;
  top: 10px;
  visibility: hidden;
}
#home_img {
	height:20px;
	width:20px;
}
#settings_img {
	height:20px;
	width:20px;
}
#logout_img {
	height:20px;
	width:20px;
}
div.top_menu_container {
	width:100%;
	background-color: #c9dddd;
	z-index:99;
}
div.top_menu {
	width: 20%;
	float:left;
}
div.toggle_selected {
	width: 30%;
	padding: 10px;
	background-color: #5050aa;
	float: left;
}
div.toggle {
	width: 30%;
	padding: 10px;
	background-color: white;
	float: left;
}

@charset "utf-8";
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .fonts {font-size: 75%;}
     h3 { font-size : 5vw; }
	 h2 { font-size : 7vw; }
     #home_img { height:6vw; width:6vw }
     #settings_img { height:6vw; width:6vw }
     #logout_img { height:6vw; width:6vw }
     #search_text { height:6vw;width:70vw;font-size:5vw; }
	 #content {top:3vw;}
	 #floating_sidebar {top:13vw;}
	 #gh_td {width:40px}
	 #man_td {width:40px}
	 #box_td {width:40px}
	 input[type=checkbox] { transform: scale(1); -webkit-transform: scale(1); }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .fonts {font-size: 75%;}
     h3 { font-size : 5vw; }
	 h2 { font-size : 7vw; }
     #home_img { height:6vw; width:6vw }
     #settings_img { height:6vw; width:6vw }
     #logout_img { height:6vw; width:6vw }
     #search_text { height:6vw;width:70vw;font-size:5vw; }
	 #content {top:6vw;}
	 #floating_sidebar {top:13vw;}
	 #gh_td {width:40px}
	 #man_td {width:40px}
	 #box_td {width:40px}
	 input[type=checkbox] { transform: scale(1); -webkit-transform: scale(1); }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
     .fonts {font-size: 75%;}
     h3 { font-size : 5vw; }
	 h2 { font-size : 7vw; }
     #home_img { height:6vw; width:6vw }
     #settings_img { height:6vw; width:6vw }
     #logout_img { height:6vw; width:6vw }
     #search_text { height:6vw;width:70vw;font-size:5vw; }
	 #content {top:2vw;}
	 #floating_sidebar {top:13vw;}
	 #gh_td {width:40px}
	 #man_td {width:40px}
	 #box_td {width:40px}
	 input[type=checkbox] { transform: scale(2); -webkit-transform: scale(2); }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
     .fonts {font-size: 75%;}
     h3 { font-size : 5vw; }
	 h2 { font-size : 7vw; }
     #home_img { height:10vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:63vw;font-size:7vw; }
	 #content {top:7vw;}
	 #floating_sidebar {top:13vw;}
	 #gh_td {width:40px}
	 #man_td {width:40px}
	 #box_td {width:40px}
	 #add_game_select {height: 5vw; }
	 #add_console_text { height:10vw; width:55vw; font-size:7vw; }
	 #add_game_text { height:10vw; width:20vw;font-size:7vw; }
	 input[type=checkbox] { transform: scale(3); -webkit-transform: scale(3); }
	 input[type=button] {transform: scale(2); -webkit-transform: scale(2); }
	 input[type=select] {transform: scale(2); -webkit-transform: scale(2); }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  	.fonts {font-size: 75%; }
	h3 { font-size : 2em; }
	h2 { font-size : 3em; }
	#home_img { height:5vw; width:5vw }
	#settings_img { height:5vw; width:5vw }
	#logout_img { height:5vw; width:5vw }
	#search_text { height:5vw;width:63vw;font-size:4vw; }
	#man_td {width:40px}
	#add_console_text { height:5vw; width:75vw; font-size:4vw; }
	#add_game_text { height:5vw; width:60vw;font-size:4vw; }
	input[type=button] {transform: scale(2); -webkit-transform: scale(2); }
}
