body {
    -webkit-text-size-adjust: 100%;
}
div.top_menu_container {
	width:100%;
	background-color: #c9dddd;
}
div.top_menu {
	width: 20%;
	float:left;
}
div.toggle_selected {
	width: 30%;
	padding: 10px;
	background-color: #5050aa;
	float: left;
}
div.toggle {
	width: 30%;
	padding: 10px;
	background-color: white;
	float: left;
}

@charset "utf-8";
    /* CSS Document */
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
     .fonts
     {
      font-size: 75%;
     };   
	 .h3 
	 { font-size : 50%; }
    }
    /* Smartphones (landscape) ----------- */
    @media only screen
    and (min-width : 321px) {
     .fonts
     {
      font-size: 120%;
     }; 
	 .h3 { font-size: 80%; }
    }
    /* Smartphones (portrait) ----------- */
    @media only screen
    and (max-width : 320px) {
     .fonts
     {
      font-size: 120%;
     }; 
	 .h3 { font-size: 80%; }
    }
    /* iPads (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
     .fonts
     {
      font-size: 120%;
     };   
	 .h3 { font-size: 80%; }
    }
    /* iPads (landscape) ----------- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {
     .fonts
     {
      font-size: 150%;
     };   
	 .h3 { font-size: 100%; }
    }
    /* iPads (portrait) ----------- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {

     .fonts
     {
      font-size: 120%;
     }; 
	 .h3 { font-size: 80%; }
    }
    /* Desktops and laptops ----------- */
    @media only screen
    and (min-width : 1224px) {
     .fonts
     {
      font-size: 156%;
     };
	 .h3 { font-size: 100%; }
    }
    /* Large screens ----------- */
    @media only screen
    and (min-width : 1824px) {
     .fonts
     {
      font-size: 200%;
     };   
	 .h3 { font-size: 130%; }
    }
    /* iPhone 4 ----------- */
    @media
    only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5) {
     .fonts
     {
      font-size: 190%;
     }; 
	 .h3 { font-size: 130%; }
    }
