body {
    -webkit-text-size-adjust: 100%;
}
#top_menu {
	position:fixed;
	top: 5px;
}
#floating_sidebar {
  position:fixed;
  right:5px;
  height: 90%;
  border: 5px;
  top: 10px;
  visibility: hidden;
}
#home_img {
	height:20px;
	width:20px;
}
#settings_img {
	height:20px;
	width:20px;
}
#logout_img {
	height:20px;
	width:20px;
}
div.top_menu_container {
	width:100%;
	background-color: #c9dddd;
	z-index:99;
}
div.top_menu {
	width: 20%;
	float:left;
}
div.toggle_selected {
	width: 30%;
	padding: 10px;
	background-color: #5050aa;
	float: left;
}
div.toggle {
	width: 30%;
	padding: 10px;
	background-color: white;
	float: left;
}

@charset "utf-8";
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:10vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:11vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:12vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:13vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:14vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:15vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:16vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
     .fonts {font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:17vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
     .fonts { font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:17vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
     .fonts {font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:18vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
     .fonts {font-size: 75%;}
     h3 { font-size : 5vw; }
     h2 { font-size : 7vw; }
     #home_img { height:10vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:63vw;font-size:7vw; }
	 #content {top:11vw;}
	 #floating_sidebar {top:13vw;}
	 #gh_td {width:40px}
	 #man_td {width:40px}
	 #box_td {width:40px}
	 input[type=checkbox] { transform: scale(3); -webkit-transform: scale(3); }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
     .fonts {font-size: 75%;}
     .h3 { font-size : 50%; }
     #home_img { height:10vw; width:10vw }
     #settings_img { height:10vw; width:10vw }
     #logout_img { height:10vw; width:10vw }
     #search_text { height:10vw;width:50vw }
}
