<table width=100%><tr>
<div id='add_console_div'>
  <form name='add_console_form'>
	      <td colspan=2><input type='text' id='add_console_text' name='add_console_text' placeholder='Add Console'></td>    
		  <td align=right><input type='button' value='Add' onclick='add_console(this.form)'></td>
    </tr>
   </form>
</div>
<div id='add_game_div'> 
    <form name='add_game_form'>
		<td><select id='add_game_select'  name='add_game_select'>
		{{.ConsoleSelect}}
		</select></td>
        <td><input type='text' name='add_game_text' id='add_game_text' placeholder='Game'></td>
        <td align=right><input type='button' value='Add' onclick='add_game(this.form)'></td>
	</tr>
	</table>
    </form>
</div>
