{{ define "console_entry" }}
<div id="console-{{.ShortName}}" style="float:left;padding:20px">
    <div id="console-{{.ShortName}}-picture">
        <a href="/console/{{.Name}}"><img src="{{.Picture}}" height="10%"></a>
    </div>
    <div id="console-{{.ShortName}}-name">
        <input type="checkbox" id="checkbox-{{.ShortName}}" {{if .Has }}Checked{{end}} onchange="save_console_has({{.Name}},'checkbox-{{.ShortName}}')">
            {{.Name}} {{.OwnedGames}}{{if .TotalGames}}/{{.TotalGames}}{{end}}
        {{if .User.Admin}}
        <a href="/edit/console/?name={{.Name}}"><img src="/static/settings.jpeg" height="1%"></a>
        {{end}}
    </div>
    <div id="manyear{{.ShortName}}">{{if .Manufacturer}}{{.Manufacturer}}{{end}}  {{if .Year}}{{.Year}}{{end}}</div>
    Manual: {{if .HasManual}}
        Y/<a href="/set/console/?name={{.Name}}&action=hasnot_manual&value=false">n</a>
    {{else}}
        <a href="/set/console/?name={{.Name}}&action=has_manual&value=true">Y</a>/n
    {{end}}<br>
    Box: {{if .HasBox}}
        Y/<a href="/set/console/?name={{.Name}}&action=hasnot_box&value=false">n</a>
    {{else}}
        <a href="/set/console/?name={{.Name}}&action=has_box&value=true">Y</a>/n
    {{end}}<br>
    <div id='star_container_{{.ShortName}}'>
        {{.StarContent}}
    </div>
    {{if .Has}}{{else}}
    <input type="checkbox" id="want-console-{{.ShortName}}"  {{if .Want}}checked{{end}} onchange="save_want_console({{.ShortName}},'want-console-{{.ShortName}}')">Want
    {{end}}
    <input type="checkbox" id="wantgames-console-{{.ShortName}}" {{if .WantGames}}checked{{end}} onchange="save_wantgames_console({{.ShortName}},'wantgames-console-{{.ShortName}}')">WantGames
</div>
{{ end }}

{{ define "consoles_list" }}
<table>
    {{ range $index, $val := . }}
    {{ template "console_entry" .}}
    {{ end }}
</table>
{{ end }}

{{ define "edit_console"}}
{{template "header"}}
<form  name="editconsole" action="/edit/console/?name={{.Console.Name}}" method="POST">
    {{.Message}}
    <input type="hidden" name="action" value="submit">
    <table>
        <tr>
            <td><h4>{{.Console.Name}}</h4></td>
        </tr>
        <tr>
            <td>Name</td><td><input type="text" name="name" size="20" value="{{.Console.Name}}"></td>
        </tr>
        <tr>
            <td>Publisher</td><td><input type="text" name="manufacturer" size="20" value="{{.Console.Manufacturer}}"></td>
        </tr>
        <tr>
            <td>Year</td><td><input type="text" size="5" name="year" value="{{.Console.Year}}"></td>
        </tr>
        <tr>
            <td>Picture</td><td><input type="text" size="20" name="picture" value="{{.Console.Picture}}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
<form name="deleteconsole" action="/edit/console/?name={{.Console.Name}}" method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>
{{end}}
{{define "really_delete_console"}}
    {{template "header"}}
Really delete {{.Console.Name}}?<br>
There are {{.Console.TotalGames}} games<br>
<form name="deleteconsole" action="/edit/console/?name={{.Console.Name}}" method="POST">
    <input type="hidden" name="action" value="reallydelete">
    <input type="submit" value="Delete">
</form>
{{end}}
