<div id="toggle_owned" style="width:30%;padding:10px;background-color:#d4f7f7;float:left;" onclick="javascript:show('consoles','owned')"><p class="fonts">Owned</p></div>
<div id="toggle_all" style="width:30%;padding:10px;background-color:;float:left;" onclick="javascript:show('consoles','all')"><p class="fonts">All</p></div>
<div id="toggle_missing" style="width:30%;padding:10px;background-color:#f7d4e1;float:left;" onclick="javascript:show('consoles','missing')"><p class="fonts">Missing</p></div>
