{{ define "games_list" }}
<table>
    {{ range $index, $val := . }}
    {{template "game_entry" .}}
    {{ end }}
</table>
{{end}}

{{ define "game_entry" }}
<tr>
    <td><input type="checkbox" id="checkbox-{{.ID}}" {{ if .Has }}Checked{{end}} onchange="save_game_has({{.ID}},'checkbox-{{.ID}}')">
    </td>
    <td colspan=3 onclick='$("#game_detail_{{.ID}}").toggle()' )><h3>{{ .Name }}{{if .User.Admin}}<a href="/edit/game/?id={{.ID}}"><img src="/static/settings.jpeg" height="8"></a>{{end}}</h3></td>
</tr>
<tr>
<tr id="game_detail_{{.ID}}" style="display:none">
    <td colspan="5">
        <table>
            <tr>
                <td>{{.Publisher}}</td>
                {{ if .Year }}<td>{{.Year}}</td>{{end}}
            </tr>
            <tr>
                <td><input type="checkbox" id="checkbox-manual-{{.ID}}" {{ if .HasManual }}Checked{{end}}
                           onchange="save_game_manual('{{.ID}}','checkbox-manual-{{.ID}}')"></td>
                <td><h4>Manual:</h4></td>
            </tr>
            <tr >
                <td><input type="checkbox" id="checkbox-box-{{.ID}}" {{if .HasBox}}Checked{{end}}
                           onchange="save_game_box('{{.ID}}','checkbox-box-{{.ID}}')"></td>
                <td><h4>Box</h4></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div style="float:left" id='star_container_{{.ID}}'>{{.StarContent}}</div>
                </td>
            </tr>
            <tr>
                <td><h4>Review</h4>
                <td><input type="text" size=20 id="review_text_{{.ID}}" placeholder="Add Review" value="{{.Review}}"></td>
                <td><input type="button" value="Save" onclick="save_game_review({{.ID}})"></td>
            </tr>
            {{if .Has}}{{else}}
            <tr>
                <td><input type="checkbox" id="want-game-{{.ID}}" {{if .Want}}checked{{end}} onchange="save_want_game({{.ID}},'want-game-{{.ID}}')"></td>
                <td>Want</td>
            </tr>
            {{end}}
        </table>
    </td>
</tr>
{{ end }}

{{ define "edit_game" }}
{{template "header" .}}
<form  name="editgame" action="/edit/game/?id={{.Game.ID}}" method="POST">
    <input type="hidden" name="action" value="submit">
    <table>
        <tr>
            <td><h4>{{.Game.Name}}</h4></td>
        </tr>
        <tr>
            <td>Name</td><td><input type="text" name="name" size="20" value="{{.Game.Name}}"></td>
        </tr>
        <tr>
            <td>Publisher</td><td><input type="text" name="publisher" size="20" value="{{.Game.Publisher}}"></td>
        </tr>
        <tr>
            <td>Year</td><td><input type="text" size="5" name="year" value="{{.Game.Year}}"></td>
        </tr>
        <tr>
            <td>Console</td>
            <td>
                <select id="console" name="console">
                {{.Game.ConsoleSelect}}
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
<form name="deletegame" action="/edit/game/?id={{.Game.ID}}" method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>
{{end}}

{{define "really_delete_game"}}
{{template "header"}}
Really delete {{.Game.Name}}?<br>
There are {{.Game.Owners}} games<br>
<form name="deletegame" action="/edit/game/?id={{.Game.ID}}" method="POST">
    <input type="hidden" name="action" value="reallydelete">
    <input type="submit" value="Delete">
</form>
{{end}}

{{define "filter"}}
<div id="filter_div">
    <form name="filter">

    <tr>
        <td>Filter by:</td>
        <td>Has:<input type="checkbox" id="filter_has" {{if .Has}}checked{{end}} onchange="setfilter('{{.Url}}',this)"></td>
        <td>Box:<input type="checkbox" id="filter_box" {{if .Box}}checked{{end}} onchange="setfilter('{{.Url}}',this)"></td>
        <td>Manual:<input type="checkbox" id="filter_manual" {{if .Manual}}checked{{end}} onchange="setfilter('{{.Url}}',this)"></td>
    </tr>
    </form>
</div>
{{end}}