<tr>
	<td><div id="div_thing_{{.ID}}" onclick="javascript:toggle_owned('{{.ID}}')" style='background-color:{{.Background}};float:left'>{{.Name}}</div></td>
	<td><div id="div_thing_{{.Manual.ID}}" onclick="javascript:toggle_owned('{{.Manual.ID}}')" style='background-color:{{.ManualBackground}};width:15px;float:left;'>m</div></td>	
	<td><div id="div_thing_{{.Box.ID}}" onclick="javascript:toggle_owned('{{.Box.ID}}')" style='background-color:{{.BoxBackground}};width:15px;float:left;'>b</div></td>
</tr>
