<html>
<head>
	<title></title>
	<script type="text/javascript" src="static/jquery.js"></script>
	<script type="text/javascript" src="static/gameslist.js"></script>
	<link rel="stylesheet" href="static/gameslist.css"> 
</head>
<body onload='javascript:show("collection","owned")'>
<div id="top_menu" class="top_menu_container">
	<div id="home-header" class="top_menu">
		<table width="100%">
			<tr>
				<td align="top"><div id="mycoll"><a href='/'><img src='/static/home.jpg' height='20'></a></div></td>
				<td align="center">
					<div id="search_div" style="width:100%;float:left">
						<input type='text' name='search_text' id='search_text' placeholder='Search'>
					</div>
				</td>
				<td>
					<div id="logout"><a href="/logout"><img src='/static/logout.png' height='20px'></a></div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id='content'  style="width:100%;float:left;">
	<div class="raw_list" style="width:50%;padding:10px;float:left" id="content_div">Loading...</div>
</div>
<div id='floating_sidebar'>
<a href="#sym">#</a><br>
<a href="#a">a</a><br>
<a href="#b">b</a><br>
<a href="#c">c</a><br>
<a href="#d">d</a><br>
<a href="#e">e</a><br>
<a href="#f">f</a><br>
<a href="#g">g</a><br>
<a href="#h">h</a><br>
<a href="#i">i</a><br>
<a href="#j">j</a><br>
<a href="#k">k</a><br>
<a href="#l">l</a><br>
<a href="#m">m</a><br>
<a href="#n">n</a><br>
<a href="#o">o</a><br>
<a href="#p">p</a><br>
<a href="#q">q</a><br>
<a href="#r">r</a><br>
<a href="#s">s</a><br>
<a href="#t">t</a><br>
<a href="#u">u</a><br>
<a href="#v">v</a><br>
<a href="#w">w</a><br>
<a href="#x">x</a><br>
<a href="#y">y</a><br>
<a href="#z">z</a><br>
</div>
</body>
</html>

