<html>
<head>
	<title></title>
	<script type="text/javascript" src="static/jquery.js"></script>
	<script type="text/javascript" src="static/gameslist.js"></script>
	<link rel="stylesheet" href="static/gameslist.css">
</head>
<body>
<div id="top_menu" class="top_menu_container">
	<div id="home-header" class="top_menu">
		<table width="100%">
			<tr>
				<td align="top"><div id="mycoll"><a href='/'><img src='/static/home.jpg' id='home_img'></a></div></td>
				<td align="center">
				  <div id="search_div" style="width:100%;float:left;visibility:hidden">
					<input type='text' name='search_text' id='search_text' placeholder='Search'>
				  </div>
				</td>
				<td>
				  <div id="settings"><a href="/settings"><img src='/static/settings.jpeg' id='settings_img'></a></div>
				</td>
				<td>
					<div id="logout"><a href="/logout"><img src='/static/logout.png' id='logout_img'></a></div>
				</td>
			</tr>
		</table>
	</div>
</div>
<table>
<tr><td>ID:</td><td>{{.ID}}</td></tr>
<tr><td>Email:</td><td>{{.Email}}</td></tr>
<tr><td>ShareCode:</td><td><input type="text" length=20 value="{{.ShareCode}}"/></td><td><a href="/share/{{.ShareCode}}">Share Link</a></td></tr>
<tr><td>LoginCode:</td><td><input type="text" length=20 value="{{.LoginCode}}"/><td><a href="/login/{{.LoginCode}}">Login link</a></td></tr>
</table>

</body>
</html>
