<tr>
	<td><input type="checkbox" id="checkbox-{{.ID}}" {{ .Checked }} onchange="save_change({{.ID}},'checkbox-{{.ID}}')"></td>
	<td colspan=3 text-align='left' onclick='$("#thing_detail_{{.ID}}").toggle()') ><h3>{{ .Name }}</h3></td>
</tr>
<tr id='thing_detail_{{.ID}}' style='display:none;' align=right>
	<form name="coll_{{.ID}}">
	<td colspan=6 text-align=right>
		<table>
			<tr>
			</tr>
			<tr>
			    <td>Manual:</td><td><input type="checkbox" id="checkbox-manual-{{.ID}}" {{ .ManualChecked }} onchange="save_change('{{.ManualID}}','checkbox-manual-{{.ID}}')"></td>
			</tr>
			<tr>
			    <td>Box</td><td><input type="checkbox" id="checkbox-box-{{.ID}}" {{ .BoxChecked }} onchange="save_change('{{.BoxID}}','checkbox-box-{{.ID}}')"></td>
			</tr>
			<tr>
				<td>Rating</td><td><div id='star_container_{{.ID}}'>{{.StarContent}}</div></td>
			</tr>
			<tr>
				<td>Condition</td><td>tbd</td>
			</tr>
			<tr>
				<td><p onclick="enable_review({{.ID}})">Review</p></td><td><div id='div_review_{{.ID}}'><p onclick="enable_review({{.ID}})">{{.Review}}</p></div></td>
			</tr>
		</table>
	</td>
	</form>
</tr>
